.App {
  align-items: center;
}
.Component {
  text-align: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  width: 1440px;
  height: 1200px;
}
.main {
  display: flex;
}
.LeftSide {
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 1024px;
}
.LeftSide img {
  width: 100%;
  height: 100%;
}
.RightSide {
  width: 840px;
  height: 1024px;

  border-radius: 35px;
  background: #ffffff;
}

.uk {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  width: 143px;
  height: 28px;
  left: 1223px;
  top: 41px;
}
.h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  width: 274px;
  height: 49px;
  left: 756px;
  top: 154px;
}
.signup {
  display: flex;
}
.signup-google {
  box-sizing: border-box;
  display: flex;
  align-items: inherit;
  justify-content: space-around;
  position: absolute;
  width: 239px;
  height: 57px;
  left: 764px;
  top: 237px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.signup-google .signimg {
  margin-top: 10px;
}
.signup-google .signdiv {
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;

  color: rgba(0, 0, 0, 0.6);
}
img {
  width: 80%;
  height: 70%;
}
.signup-facebook {
  box-sizing: border-box;
  display: flex;
  display: flex;
  align-items: inherit;
  justify-content: space-around;
  position: absolute;
  width: 239px;
  height: 57px;
  color: rgba(0, 0, 0, 0.6);
  left: 1058px;
  top: 237px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.signup-facebook .fbdiv {
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
.signup-facebook .fbimg {
  margin-top: 10px;
}

.or {
  position: absolute;
  width: 73px;
  height: 31px;
  left: 993px;
  top: 354px;

  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;

  color: rgba(0, 0, 0, 0.39);
}
.input {
  border-bottom: 1px solid gray !important;
}
.fullname {
  position: absolute;
  text-align: left;
  width: 533px;
  height: 40px;
  left: 764px;
  top: 424px;
}
.fullname input {
  color: rgba(0, 0, 0, 0.3);

  width: 100%;
  height: 100%;
  border: none;
  outline-width: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.surname {
  position: absolute;
  text-align: left;
  width: 533px;
  height: 40px;
  left: 764px;
  top: 525px;
}
.surname input {
  color: rgba(0, 0, 0, 0.3);

  width: 100%;
  height: 100%;
  border: none;
  outline-width: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.email {
  position: absolute;
  width: 533px;
  height: 40px;
  left: 764px;
  top: 626px;
  text-align: left;
}
.email input {
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border: none;
  outline-width: 0;
  color: rgba(0, 0, 0, 0.3);
}
.password {
  position: absolute;
  text-align: left;
  width: 533px;
  height: 40px;
  left: 764px;
  top: 723px;
}
.password input {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  height: 100%;
  border: none;
  outline-width: 0;
  color: rgba(0, 0, 0, 0.3);
}
.repassword {
  position: absolute;
  text-align: left;
  width: 533px;
  height: 40px;
  left: 764px;
  top: 823px;
}
.repassword input {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  height: 100%;
  border: none;
  outline-width: 0;
  color: rgba(0, 0, 0, 0.3);
}

.create-account {
  position: absolute;
  width: 533px;
  height: 58px;
  left: 764px;
  top: 922px;

  background: #bdc6d7;
  border-radius: 8px;
}
.create-account button {
  margin-top: 8px;
  width: 100%;
  height: 100;
  border: none;
  background-color: #bdc6d7;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;

  color: #ffffff;
}
.already {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 342px;
  height: 29px;
  left: 764px;
  top: 1022px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: rgba(0, 0, 0, 0.3);
}
.error {
  width: 533px;
  height: 40px;
  color: red;
}
